/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background: linear-gradient(to right, #0074cc, #0062a8);
  border: 1px solid #005688;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background: linear-gradient(to right, #0062a8, #004777);
}

.btn-cart {
    color: #fff;
    background: #ff0000; /* Red color */
    border: 1px solid #005688;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.btn-cart:hover {
    background: #cc0000; /* Darker red on hover */
}

.btn-login {
    color: #ffffff;
    background: #0074cc;
}

.btn-login:hover {
    color: #ffffff;
    background: #0062a8;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  flex: 0 1 calc(30% - 20px); /* Adjust the width as needed */
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 400px; /* Set a fixed height for the product cards */
  display: flex;
  flex-direction: column;
}

.product-card img {
  object-fit: contain; /* Ensure the entire image is displayed within the container */
  height: 100%; /* Make the image take up the full height of the container */
  width: 100%; /* Make the image take up the full width of the container */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .product-card {
    flex-basis: calc(50% - 20px); /* Adjust the width for smaller screens */
  }
}
